/*
Blog styles
*/

.blog-page-heading {
    background-color: var(--dark-accent-color);
    align-items: center;
    margin: auto;
    max-width: 2000px;
    padding: 76px 0 0 0;
}

.blog-page-heading h1 {
    color: var(--background-color);
    font-family: "Barlow Condensed", Tahoma;
    font-size: 5rem;
    letter-spacing: 1px;
    padding: 40px 40px 40px 40px;
    text-align: center;
}

.blog-page-articles {
    background-color: var(--background-color);
    margin: auto;
    max-width: 1400px;
}

.article-featured {
    color: var(--light-accent-color);
    font-family: "Barlow Condensed", Tahoma;
    font-size: 2rem;
    padding: 40px 40px 0 40px;
}

.article-title {
    padding: 40px 40px 40px 40px;
}

.article-title h2 {
    color: var(--dark-accent-color);
    font-family: "Varela Round", Verdana;
    font-size: 3rem;
}

.article-title h3 {
    color: var(--main-color);
    font-family: "Barlow Condensed", Tahoma;
    font-size: 2rem;
    font-weight: normal;
    padding: 20px 0 20px 0;
}

.article-information-lists {
    display: flex;
}

.article-information-icon-list {
    color: var(--dark-accent-color);
    font-size: 1.2rem;
    line-height: 1.5;
    list-style-type: none;
    margin: 2px 0 0 0;
    padding: 5px 15px 5px 0;
}

.article-information-text-list {
    color: var(--main-color);
    font-family: "Barlow Condensed", Tahoma;
    font-size: 1.2rem;
    line-height: 1.5;
    list-style-type: none;
    padding: 5px 0 5px 0;
}

.article-share {
    align-content: flex-end;
    margin-left: auto;
    padding: 0 0 7px 0;
    width: 220px;
}

.article-share p {
    color: var(--main-color);
    font-family: "Barlow Condensed", Tahoma;
    font-size: 1.2rem;
    line-height: 2;
}

.article-share-icon-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.article-share-icon-list li {
    transition: 0.3s;
}

.article-share-icon-list li a {
    color: var(--dark-accent-color);
    font-size: 2rem;
    transition: 0.3s;
}

.article-share-icon-list li:hover {
    transform: scale(1.2);
}

.article-share-icon-list li a:hover {
    color: var(--light-accent-color);
}

.blog-page-articles hr {
    background-color: var(--light-accent-color);
    border-style: none;
    height: 3px;
    margin: 0 40px 0 40px;
    max-width: 1320px;
}

.blog-page-articles article {
    color: var(--dark-accent-color);
    font-family: "Barlow Condensed", Tahoma;
    font-size: 1.5rem;
    padding: 30px 40px 40px 40px;
}

.blog-page-articles article p {
    padding: 10px 0 10px 0;
}

.blog-page-articles h4 {
    font-family: "Varela Round", Verdana;
    padding: 30px 0 30px 0;
}

.blog-page-articles a {
    color: var(--dark-accent-color);
}

.article-author aside {
    align-items: center;
    display: flex;
    padding: 0 0 40px 0;
}

.article-author img {
    border: 3px solid var(--main-color);
    border-radius: 10px;
    height: 100px;
    width: 100px;
    transition: 0.3s;
}

.article-author img:hover {
    border: 3px solid var(--light-accent-color);
    transform: scale(1.1);
}

.article-author aside p {
    font-size: 1.2rem;
    padding: 0 0 0 40px;
    max-width: 700px;
}

.article-download {
    align-items: center;
    display: flex;
}

.article-download i {
    color: var(--dark-accent-color);
}

.article-download p {
    font-size: 1.3rem;
}

.article-download a {
    color: var(--main-color);
    padding: 0 0 0 5px;
}

/*
Blog media queries (width)
*/

@media screen and (max-width: 600px) {
    .article-information-lists {
        flex-wrap: wrap;
    }

    .article-information-text-list {
        width: 269px;
    }

    .article-share {
        margin-left: 0;
        padding: 20px 0 0 0;
    }

    .article-author aside {
        align-items: flex-start;
        flex-direction: column;
    }

    .article-author aside p {
        padding: 30px 0 0 0;
    }
}

@media screen and (max-width: 400px) {
    .article-information-text-list {
        width: auto;
    }
}