/*
About styles
*/

.about-page-heading {
    background-color: var(--dark-accent-color);
    align-items: center;
    margin: auto;
    max-width: 2000px;
    padding: 76px 0 0 0;
}

.about-page-heading h1 {
    color: var(--background-color);
    font-family: "Barlow Condensed", Tahoma;
    font-size: 5rem;
    letter-spacing: 1px;
    padding: 40px 40px 40px 40px;
    text-align: center;
}

.about-page-description {
    padding: 40px 40px 40px 40px;
}

.about-page-description h2 {
    color: var(--dark-accent-color);
    font-family: "Barlow Condensed", Tahoma;
    font-size: 5rem;
    padding: 0 0 20px 0;
    text-align: center;
}

.description-container {
    color: var(--dark-accent-color);
    font-family: "Barlow Condensed", Tahoma;
    font-size: 2rem;
}

.description-container p {
    padding: 20px 0 20px 0;
    margin: auto;
    max-width: 1100px;
}

.about-page-team {
    padding: 40px 40px 40px 40px;
}

.about-page-team h2 {
    color: var(--dark-accent-color);
    font-family: "Barlow Condensed", Tahoma;
    font-size: 5rem;
    padding: 0 0 20px 0;
    text-align: center;
}

.team-container {
    margin: auto;
    max-width: 1100px;
    text-align: center;
}

.team-container img {
    border: 3px solid var(--main-color);
    border-radius: 10px;
    display: block;
    height: 300px;
    margin: 20px auto 0 auto;
    transition: 0.3s;
    width: 300px;
}

.team-container img:hover {
    border: 3px solid var(--light-accent-color);
    transform: scale(1.05);
}

.team-member-title-container h3 {
    color: var(--dark-accent-color);
    font-family: "Barlow Condensed", Tahoma;
    font-size: 2rem;
    padding: 15px 0 0 0;
}

.team-member-title-container p {
    color: var(--main-color);
    font-family: "Barlow Condensed", Tahoma;
    font-size: 1.5rem;
    padding: 0 0 10px 0;
}

/*
About media queries (width)
*/

@media screen and (max-width: 800px) {
    .about-page-description h2,
    .about-page-team h2 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 500px) {
    .about-page-description h2,
    .about-page-team h2 {
        font-size: 3rem;
    }
}