/*
About styles
*/

.about-page-heading {
    background-color: var(--dark-accent-color);
    align-items: center;
    margin: auto;
    max-width: 2000px;
    padding: 76px 0 0 0;
}

.about-page-heading h1 {
    color: var(--background-color);
    font-family: "Barlow Condensed", Tahoma;
    font-size: 5rem;
    letter-spacing: 1px;
    padding: 40px 40px 40px 40px;
    text-align: center;
}

.about-page-description {
    padding: 40px 40px 40px 40px;
}

.about-page-description h2 {
    color: var(--dark-accent-color);
    font-family: "Barlow Condensed", Tahoma;
    font-size: 5rem;
    text-align: center;
}

.about-page-team {
    padding: 40px 40px 40px 40px;
}

.about-page-team h2 {
    color: var(--dark-accent-color);
    font-family: "Barlow Condensed", Tahoma;
    font-size: 5rem;
    text-align: center;
}

/*
About media queries
*/