/*
About styles
*/

.about-page-heading {
    background-color: var(--dark-accent-color);
    align-items: center;
    margin: auto;
    max-width: 2000px;
    padding: 76px 0 0 0;
}

.about-page-heading h1 {
    color: var(--background-color);
    font-family: "Barlow Condensed", Tahoma;
    font-size: 5rem;
    letter-spacing: 1px;
    padding: 40px 40px 40px 40px;
    text-align: center;
}

.about-page-description {
    padding: 40px 40px 40px 40px;
}

.about-page-description h2 {
    color: var(--dark-accent-color);
    font-family: "Barlow Condensed", Tahoma;
    font-size: 5rem;
    padding: 0 0 20px 0;
    text-align: center;
}

.description-container {
    color: var(--dark-accent-color);
    font-family: "Barlow Condensed", Tahoma;
    font-size: 2rem;
}

.description-container p {
    padding: 20px 0 20px 0;
    margin: auto;
    max-width: 1100px;
}

.about-page-team {
    padding: 40px 40px 40px 40px;
}

.about-page-team h2 {
    color: var(--dark-accent-color);
    font-family: "Barlow Condensed", Tahoma;
    font-size: 5rem;
    text-align: center;
}

.team-container img {
    border: 3px solid var(--main-color);
    border-radius: 10px;
    height: 300px;
    width: 300px;
    transition: 0.3s;
}

/*
About media queries
*/