/*
Main styles
*/

.home-page-mission-statement {
    align-items: center;
    background-image: url("3Handshake.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    object-fit: contain;
    padding: 76px 0 0 0;
    margin: auto;
    max-width: 2000px;
}

.home-page-mission-statement h1 {
    color: var(--dark-text-color);
    font-family: "Barlow Condensed", Tahoma;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: -1px;
    text-align: center;
    text-transform: uppercase;
}

.home-page-mission-statement hgroup {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-page-mission-statement hgroup h2 {
    align-items: center;
    color: var(--text-color);
    font-family: "Barlow Condensed", Tahoma;
    font-size: 4rem;
    font-weight: normal;
    letter-spacing: -1px;
    text-align: center;
    text-shadow: 0 0 5px var(--text-shadow-color);
    text-transform: uppercase;
}

.home-page-mission-statement hgroup p {
    align-items: center;
    color: var(--text-color);
    display: flex;
    font-family: "Barlow Condensed", Tahoma;
    font-size: 7rem;
    justify-content: center;
    text-shadow: 0 0 5px var(--text-shadow-color);
}

.home-page-strike-through {
    align-items: center;
    background-color: var(--background-color);
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
    max-width: 2000px;
    padding: 20px 20px 20px 20px;
}

.home-page-tagline {
    flex: 1;
    padding: 0 40px 0 40px;
}

.home-page-tagline h3 {
    color: var(--dark-text-color);
    font-family: "Barlow Condensed", Tahoma;
    font-size: 4rem;
    letter-spacing: -1px;
    text-align: center;
}

.strike-through-lists {
    display: flex;
}

.strike-through-icon-list {
    color: var(--text-color);
    font-size: 2rem;
    line-height: 3;
    list-style-type: none;
    text-align: center;
}

.strike-through-text-list {
    color: var(--text-color);
    font-family: "Varela Round", Verdana;
    font-size: 2rem;
    letter-spacing: 1px;
    line-height: 3;
    list-style-type: none;
    margin: 0 0 0 30px;
    white-space: nowrap;
}

.strike-through-animation {
    position: relative;
}

.strike-through-animation::after {
    background-color: var(--dark-text-color);
    border-radius: 50px;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    top: 50%;
    transition: width 1s ease-in-out;
    transform: translateY(-50%);
    width: 0;
}

.strike-through-animation.active::after {
    width: 100%;
}

/*
Main media queries (width)
*/

@media screen and (max-width: 1700px) {
    .home-page-mission-statement {
        background-image: url("2Handshake.png");
    }
}

@media screen and (max-width: 1400px) {
    .home-page-mission-statement {
        background-image: url("1Handshake.png");
    }
}

@media screen and (max-width: 1000px) {
    .strike-through-icon-list, .strike-through-text-list {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 800px) {
    .home-page-strike-through {
        flex-direction: column;
    }

    .home-page-tagline {
        padding: 0 0 20px 0;
    }

    .home-page-tagline h3 {
        text-align: left;
    }

    .strike-through-lists {
        justify-content: flex-start;
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .home-page-mission-statement h1 {
        font-size: 2rem;
    }

    .home-page-mission-statement hgroup h2, .home-page-tagline h3 {
        font-size: 3rem;
    }

    .home-page-mission-statement hgroup p {
        font-size: 6rem;
    }

    .strike-through-icon-list, .strike-through-text-list {
        font-size: 1rem;
    }
}

/*
Main media queries (height)
*/

@media screen and (max-height: 650px) {
    .home-page-mission-statement h1 {
        font-size: 2rem;
    }

    .home-page-mission-statement hgroup h2 {
        font-size: 3rem;
    }

    .home-page-mission-statement hgroup p {
        font-size: 6rem;
        margin: -20px 0 -20px 0;
    }
}

@media screen and (max-height: 450px) {
    .home-page-mission-statement h1, .home-page-mission-statement hgroup h2 {
        font-size: 2rem;
    }

    .home-page-mission-statement hgroup p {
        font-size: 4rem;
    }
}