/*
Main styles
*/

.home-page-background-image {
    align-items: center;
    background-image: linear-gradient(to bottom, whitesmoke 0%, rgba(245, 245, 245, 0.5) 5%, transparent 10%), url("Handshake_3.png");
    background-position: center 150px;
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    justify-content: center;
    min-height: 750px; /* Must have a value or else image will not appear */
    padding: 150px 0 0 0;
    width: 100%;
}

.home-page-background-image hgroup h2 {
    align-items: center;
    color: var(--background-color);
    //display: flex;
    /* Add new font family later */
    font-size: 3rem;
    letter-spacing: 1px;
    padding: 0 15px 0 15px;
    text-transform: uppercase;
}

.home-page-background-image hgroup p {
    align-items: center;
    color: var(--background-color);
    justify-content: center;
}

@media screen and (max-width: 800px) {
    .home-page-background-image hgroup h2 {
        font-size: 2rem;
    }
}