/*
Main styles
*/

.home-page-mission-statement {
    align-items: center;
    background-image: url("3Handshake.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    object-fit: contain;
    padding: 76px 0 0 0;
    margin: auto;
    max-width: 2000px;
}

.home-page-mission-statement h1 {
    color: var(--dark-text-color);
    font-family: "Barlow Condensed", Tahoma;
    font-size: 3rem;
    font-style: italic;
    font-weight: bold;
    letter-spacing: -1px;
    margin: 0 0 20px 0;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}

.home-page-mission-statement hgroup {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-page-mission-statement hgroup h2 {
    align-items: center;
    color: var(--text-color);
    font-family: "Barlow Condensed", Tahoma;
    font-size: 4rem;
    font-weight: normal;
    letter-spacing: -1px;
    text-align: center;
    text-shadow: 0 0 5px var(--text-shadow-color);
    text-transform: uppercase;
}

.home-page-mission-statement hgroup p {
    align-items: center;
    color: var(--text-color);
    display: flex;
    font-family: "Barlow Condensed", Tahoma;
    font-size: 7rem;
    justify-content: center;
    text-shadow: 0 0 5px var(--text-shadow-color);
}

.home-page-human-recruiters {
    margin: auto;
    max-width: 2000px;
}

/*
Main media queries (width)
*/

@media screen and (max-width: 1700px) {
    .home-page-mission-statement {
        background-image: url("2Handshake.png");
    }
}

@media screen and (max-width: 1400px) {
    .home-page-mission-statement {
        background-image: url("1Handshake.png");
    }
}

@media screen and (max-width: 450px) {
    .home-page-mission-statement h1 {
        font-size: 2rem;
        margin: 0 0 0 0;
    }

    .home-page-mission-statement hgroup h2 {
        font-size: 3rem;
    }

    .home-page-mission-statement hgroup p {
        font-size: 6rem;
    }
}

/*
Main media queries (height)
*/

@media screen and (max-height: 650px) {
    .home-page-mission-statement h1 {
        font-size: 2rem;
        margin: 0 0 0 0;
    }

    .home-page-mission-statement hgroup h2 {
        font-size: 3rem;
    }

    .home-page-mission-statement hgroup p {
        font-size: 6rem;
        margin: -20px 0 -20px 0;
    }
}

@media screen and (max-height: 450px) {
    .home-page-mission-statement h1 {
        font-size: 2rem;
        margin: 0 0 0 0;
    }

    .home-page-mission-statement hgroup h2 {
        font-size: 2rem;
    }

    .home-page-mission-statement hgroup p {
        font-size: 4rem;
    }
}