/*
Main styles
*/

.home-page-mission-statement {
    align-items: center;
    background-image: url("Handshake.png");
    background-position: center 76px;
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 700px; /* Must have a value or else image will not appear */
    padding: 76px 0 0 0;
    margin: auto;
    max-width: 2000px;
}

.home-page-mission-statement h1 {
    color: var(--background-color);
    font-family: "Barlow Condensed", Tahoma;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    letter-spacing: -1px;
    margin: -50px 0 0 0;
    text-decoration: underline;
    text-transform: uppercase;
}

.home-page-mission-statement hgroup {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px 0 50px 0;
}

.home-page-mission-statement hgroup h2 {
    align-items: center;
    color: var(--text-color);
    font-family: "Barlow Condensed", Tahoma;
    font-size: 4rem;
    font-weight: normal;
    letter-spacing: -1px;
    text-align: center;
    text-shadow: 0 0 5px var(--text-shadow-color);
    text-transform: uppercase;
}

.home-page-mission-statement hgroup p {
    align-items: center;
    color: var(--text-color);
    display: flex;
    font-family: "Barlow Condensed", Tahoma;
    font-size: 7rem;
    justify-content: center;
    padding: 0 60px 0 60px;
    text-shadow: 0 0 5px var(--text-shadow-color);
}

@media screen and (max-width: 750px) {
    .home-page-mission-statement h1 {
        font-size: 2rem;
        margin: 0 0 0 0;
    }

    .home-page-mission-statement hgroup {
        flex-direction: column;
    }

    .home-page-mission-statement hgroup h2 {
        font-size: 3rem;
    }

    .home-page-mission-statement hgroup p {
        font-size: 6rem;
    }
}