/*
Main styles
*/

.home-page-background-image {
    align-items: center;
    background-image: url("Handshake_3.png");
    background-position: center 96px;
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    justify-content: center;
    min-height: 750px; /* Must have a value or else image will not appear */
    padding: 96px 0 0 0;
    max-width: 2000px;
}

.home-page-background-image hgroup h2 {
    align-items: center;
    color: var(--dark-text-color);
    font-family: "Barlow Condensed", Tahoma;
    font-size: 4rem;
    font-weight: normal;
    letter-spacing: -1px;
    text-align: center;
    text-transform: uppercase;
}

.home-page-background-image hgroup p {
    align-items: center;
    color: var(--dark-text-color);
    display: flex;
    font-family: "Barlow Condensed", Tahoma;
    font-size: 6rem;
    justify-content: center;
}

@media screen and (max-width: 700px) {
    .home-page-background-image hgroup h2 {
        font-size: 3rem;
    }

    .home-page-background-image hgroup p {
        font-size: 5rem;
    }
}

@media screen and (max-width: 470px) {
    .home-page-background-image hgroup h2 {
        font-size: 2rem;
    }

    .home-page-background-image hgroup p {
        font-size: 3rem;
    }
}