/*
Main styles
*/

.home-page-mission-statement {
    align-items: center;
    background-image: url("3Handshake.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100dvh;
    object-fit: contain;
    padding: 76px 0 0 0;
    margin: auto;
    max-width: 2000px;
}

.home-page-mission-statement h4 {
    animation: text-fade-down 2s ease-in-out 1s 1 backwards;
    color: var(--dark-text-color);
    font-family: "Barlow Condensed", Tahoma;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

@keyframes text-fade-down {
    0% {
        transform: translateY(-15%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.home-page-mission-statement hgroup {
    align-items: center;
    animation: text-fade-up 2s ease-in-out 1s 1 backwards;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@keyframes text-fade-up {
    0% {
        transform: translateY(15%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.home-page-mission-statement hgroup h2 {
    color: var(--text-color);
    font-family: "Barlow Condensed", Tahoma;
    font-size: 3.5rem;
    font-weight: normal;
    text-align: center;
    text-shadow: 0 0 5px var(--text-shadow-color);
    text-transform: uppercase;
}

.home-page-mission-statement hgroup p {
    color: var(--text-color);
    display: flex;
    font-family: "Barlow Condensed", Tahoma;
    font-size: 4rem;
    justify-content: center;
    text-shadow: 0 0 5px var(--text-shadow-color);
}

.home-page-icon-logo {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 8rem;
}

.home-page-icon-logo i {
    color: var(--text-color);
    font-size: 6rem;
    text-align: center;
    line-height: 0.9;
}

.home-page-icon-logo h1 {
    color: var(--text-color);
    font-family: "Zen Dots", monospace;
    font-size: 2rem;
    letter-spacing: 1px;
    //padding: 15px 0 0 0;
    text-transform: uppercase;
}

.home-page-strike-through {
    align-items: center;
    background-color: var(--text-color);
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
    max-width: 2000px;
    padding: 40px 40px 40px 40px;
}

.strike-through-introduction h3 {
    color: var(--dark-text-color);
    font-family: "Barlow Condensed", Tahoma;
    font-size: 5rem;
    text-align: center;
}

.strike-through-lists {
    display: flex;
}

.strike-through-icon-list {
    color: var(--background-color);
    font-size: 2rem;
    line-height: 3;
    list-style-type: none;
    text-align: center; 
}

.strike-through-icon-list li i {
    transition: color 1.5s ease; 
}

.strike-through-icon-list li.red-switch i {
    color: crimson;
}

.strike-through-text-list {
    color: var(--background-color);
    font-family: "Varela Round", Verdana;
    font-size: 2rem;
    line-height: 3;
    list-style-type: none;
    margin: 0 0 0 30px;
    white-space: nowrap;
}

.strike-through-animation {
    position: relative;
}

.strike-through-animation::after {
    background-color: var(--dark-text-color);
    border-radius: 50px;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    top: 50%;
    transition: width 1.5s ease-in-out;
    transform: translateY(-50%);
    width: 0;
}

.strike-through-animation.active::after {
    width: 100%;
}

.introduction-paragraph {
    line-height: 1.2;
}

.introduction-paragraph p {
    color: var(--dark-text-color);
    font-family: "Barlow Condensed", Tahoma;
    font-size: 2rem;
    letter-spacing: -1px;
    padding: 10px 0 0 0;
}

.introduction-paragraph h4 {
    color: var(--dark-text-color);
    font-family: "Barlow Condensed", Tahoma;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: -1px;
}

.learn-more-button a {
    background-color: var(--text-color);
    border: 3px solid var(--background-color);
    border-radius: 50px;
    color: var(--dark-text-color);
    font-family: "Barlow Condensed", Tahoma;
    font-size: 2rem;
    padding: 12px 15px 15px 15px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;
}

.learn-more-button a:hover {
    background-color: var(--dark-text-color);
    color: var(--text-color);
    transform: scale(1.1);
}

.home-page-companies-helped {
    background-color: var(--dark-text-color);
    margin: auto;
    max-width: 2000px;
    padding: 40px 40px 40px 40px;
}

.companies-helped-introduction h3 {
    color: var(--text-color);
    font-family: "Barlow Condensed", Tahoma;
    font-size: 5rem;
    text-align: center;
}

.companies-helped-icon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -15px 0 -15px;
    padding: 20px 0 20px 0;
}

.companies-helped-icon-list li {
    list-style-type: none;
}

.companies-helped-icon-list i {
    color: var(--background-color);
    font-size: 5rem;
    padding: 30px 15px 0 15px;
}

.companies-helped-icon-list p {
    color: var(--text-color);
    font-family: "Varela Round", Verdana;
    font-size: 1rem;
    padding: 5px 0 0 0;
    text-align: center;
}

.icon-pulse-1 {
    animation: icon-pulse 1s ease-in-out infinite;
}

.icon-pulse-2 {
    animation: icon-pulse 1.5s ease-in-out infinite;
}

.icon-pulse-3 {
    animation: icon-pulse 2s ease-in-out infinite;
}

.icon-pulse-4 {
    animation: icon-pulse 2.5s ease-in-out infinite;
}

@keyframes icon-pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.home-page-blog-posts {
    background-color: var(--text-color);
    margin: auto;
    max-width: 2000px;
    padding: 40px 40px 40px 40px;
}

.blog-posts-introduction h3 {
    color: var(--dark-text-color);
    font-family: "Barlow Condensed", Tahoma;
    font-size: 5rem;
    text-align: center;
}

.home-page-email-subscription {
    background-color: var(--dark-text-color);
    margin: auto;
    max-width: 2000px;
    padding: 40px 40px 40px 40px;
}

.email-subscription-introduction h3 {
    color: var(--text-color);
    font-family: "Barlow Condensed", Tahoma;
    font-size: 5rem;
    text-align: center;
}

.email-subscription-introduction p {
    color: var(--background-color);
    font-family: "Barlow Condensed", Tahoma;
    font-size: 2rem;
    text-align: center;
}

.email-subscription-form {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 900px;
    padding: 40px 0 0 0;
}

.email-subscription-form form {
    display: flex;
    margin: auto;
    width: 100%;
}

.email-subscription-form input {
    background-color: var(--text-color);
    border: 3px solid var(--background-color);
    border-radius: 50px;
    color: var(--dark-text-color);
    font-family: "Varela Round", Verdana;
    font-size: 1.5rem;
    padding: 15px 20px 15px 20px;
    width: 100%;
}

.email-subscription-form input:focus {
    outline: none;
}

.email-subscription-form button {
    background-color: var(--dark-text-color);
    border: 3px solid var(--background-color);
    border-radius: 50px;
    color: var(--text-color);
    font-family: "Barlow Condensed", Tahoma;
    font-size: 1.5rem;
    margin: 0 0 0 20px;
    padding: 13px 20px 15px 20px;
    text-transform: uppercase;
    transition: 0.3s;
}

.email-subscription-form button:hover {
    background-color: var(--text-color);
    color: var(--dark-text-color);
    cursor: pointer;
    transform: scale(1.1);
}

/*
Main media queries (width)
*/

@media screen and (max-width: 1700px) {
    .home-page-mission-statement {
        background-image: url("2Handshake.png");
    }
}

@media screen and (max-width: 1400px) {
    .home-page-mission-statement {
        background-image: url("1Handshake.png");
    }
}

@media screen and (min-width: 1400px) {
    .companies-helped-icon-list {
        justify-content: space-between;
    }
}

@media screen and (max-width: 1300px) {
    .home-page-strike-through {
        flex-direction: column;
    }

    .strike-through-introduction {
        padding: 0 0 40px 0;
        width: 100%;
    }

    .strike-through-introduction h3,
    .companies-helped-introduction h3,
    .blog-posts-introduction h3,
    .email-subscription-introduction h3,
    .email-subscription-introduction p {
        text-align: left;
    }

    .strike-through-lists {
        justify-content: flex-start;
        width: 100%;
    }

    .introduction-paragraph {
        padding: 0 0 40px 0;
    }

    /*
    .learn-more-button {
        //text-align: left;
        //width: 100%;
    }
    */

    .learn-more-button a {
        display: inline-block;
        transform-origin: center center;
    }
}

@media screen and (min-width: 1300px) {
    .home-page-strike-through {
        display: grid;
        grid-template-columns: auto auto;
    }

    .strike-through-lists {
        grid-row: 1 / span 3;
    }

    .introduction-paragraph {
        display: flex;
        flex-direction: column;
        margin: auto;
        max-width: 720px;
        padding: 40px 0 40px 40px;
        text-align: center;
    }

    .introduction-paragraph p {
        justify-content: center;
    }

    .learn-more-button {
        display: flex;
        justify-content: center;
        padding: 0 0 0 40px;
    }
}

@media screen and (max-width: 800px) {
    .strike-through-introduction h3,
    .companies-helped-introduction h3,
    .blog-posts-introduction h3,
    .email-subscription-introduction h3 {
        font-size: 4rem;
    }

    .strike-through-icon-list,
    .strike-through-text-list {
        font-size: 1.5rem;
    }

    .strike-through-animation::after {
        height: 4px;
    }

    .companies-helped-icon-list i {
        font-size: 4rem;
    }

    .companies-helped-icon-list p {
        font-size: 0.8rem;
    }

    .email-subscription-introduction p {
        font-size: 1.7rem;
    }

    .email-subscription-form form {
        display: block;
    }

    .email-subscription-form button {
        display: block;
        margin: 40px auto 0 auto;
    }
}

@media screen and (max-width: 500px) {
    .home-page-mission-statement h4 {
        font-size: 2rem;
    }

    .home-page-mission-statement hgroup h2,
    .strike-through-introduction h3,
    .companies-helped-introduction h3,
    .blog-posts-introduction h3,
    .email-subscription-introduction h3 {
        font-size: 3rem;
    }

    .home-page-mission-statement hgroup p {
        font-size: 6rem;
    }

    .strike-through-icon-list,
    .strike-through-text-list {
        font-size: 1rem;
    }

    .strike-through-animation::after {
        height: 2px;
    }

    .learn-more-button a {
        padding: 10px 13px 13px 13px;
    }

    .introduction-paragraph p,
    .introduction-paragraph h4,
    .email-subscription-introduction p,
    .learn-more-button a {
        font-size: 1.5rem;
    }

    .companies-helped-icon-list {
        justify-content: space-between;
    }
}

/*
Main media queries (height)
*/

@media screen and (max-height: 650px) {
    .home-page-mission-statement h4 {
        font-size: 2rem;
    }

    .home-page-mission-statement hgroup h2 {
        font-size: 3rem;
    }

    .home-page-mission-statement hgroup p {
        font-size: 6rem;
        margin: -20px 0 -20px 0;
    }
}

@media screen and (max-height: 450px) {
    .home-page-mission-statement h4,
    .home-page-mission-statement hgroup h2 {
        font-size: 2rem;
    }

    .home-page-mission-statement hgroup p {
        font-size: 4rem;
    }
}