* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background-color: mediumpurple;
    --text-color: whitesmoke;
}

body {
    background-color: var(--text-color);
}

/*
Header styles
*/

nav {
    display: flex;
    padding: 10px 10px 10px 10px;
}

#icon-logo-container {
    background-color: var(--background-color);
    border-radius: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    padding: 15px 10px 10px 10px;
    text-align: center;
}

#icon-logo {
    color: var(--text-color);
    font-size: 2rem;
    padding: 10px;
}

h6 {
    color: var(--text-color);
    font-family: "Zen Dots", monospace;
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 10px 0 0 0;
    text-transform: uppercase;
    user-select: none;
}

#header-links-container {
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

ul {
    font-family: "Varela Round", Verdana;
    font-size: 1.2rem;
    letter-spacing: 1px;
    list-style-type: none;
    max-width: 100%;
}

li {
    display: inline;
}

li a {
    color: var(--text-color);
    padding: 10px 0 10px 0;
    text-decoration: none;
}

#social-links-container {
    align-items: center;
    background-color: var(--background-color);
    border-radius: 0 10px 10px 0;
    color: var(--text-color);
    display: grid;
    font-size: 1.5rem;
    grid-template-columns: 50px 50px;
    text-align: center;
}

#social-links-container a {
    color: var(--text-color);
    text-decoration: none;
}