* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background-color: mediumpurple;
    --text-color: whitesmoke;
}

body {
    background-color: var(--text-color);
}

/*
Header styles
*/

header nav {
    display: flex;
    padding: 10px 10px 10px 10px;
    position: fixed;
}

.icon-logo-container {
    background-color: var(--background-color);
    border-radius: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    padding: 5px 10px 5px 10px;
    text-align: center;
}

#icon-logo {
    color: var(--text-color);
    font-size: 1.5rem;
    padding: 10px;
}

.icon-logo-container h6 {
    color: var(--text-color);
    font-family: "Zen Dots", monospace;
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    user-select: none;
}

.header-links-container {
    background-color: var(--background-color);
    height: auto;
    width: 100%;
}

.header-links-container ul {
    display: flex;
    font-family: "Varela Round", Verdana;
    font-size: 1rem;
    height: 100%;
    justify-content: space-around;
    letter-spacing: 1px;
    list-style-type: none;
    width: 100%;
}

.header-links-container li {
    flex: 1;
    text-transform: uppercase;
}

.header-links-container li a {
    align-content: center;
    color: black; /* Change this later */
    display: block;
    height: 100%;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    transition: 0.2s;
}

.header-links-container li a:hover {
    background-color: var(--text-color);
    color: var(--background-color);
}

.social-links-container {
    align-items: center;
    background-color: var(--background-color);
    border-radius: 0 10px 10px 0;
    color: var(--text-color);
    column-gap: 7px;
    display: grid;
    font-size: 1.2rem;
    grid-template-columns: auto auto;
    padding: 7px 10px 5px 10px;
    text-align: center;
}

.social-links-container a {
    color: var(--text-color);
    text-decoration: none;
}

.social-links-container i {
    transition: 0.3s;
}

.social-links-container i:hover {
    transform: scale(1.2);
}

.responsive-menu-collapse {
    align-content: center;
    background-color: var(--background-color);
    border-radius: 0 10px 10px 0;
    display: none;
    padding: 0 20px 0 10px;
    text-align: right;
}

.responsive-menu-collapse button {
    background-color: var(--background-color);
    border: none;
    font-size: 3rem;
    text-decoration: none;
}

.responsive-menu-collapse i {
    color: var(--text-color);
    transition: 0.2s;
}

.responsive-menu-collapse i:hover {
    transform: scale(1.1);
}

#icon-open-menu {
    cursor: pointer;
    display: block;
}

#icon-open-menu.open {
    display: none;
}

#icon-close-menu {
    cursor: pointer;
    display: none;
}

#icon-close-menu.close {
    display: block;
}

/*
Header media queries
*/

@media screen and (max-width: 1500px) {
    .header-links-container ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media screen and (max-width: 900px) {
    .header-links-container {
        border-radius: 0 10px 10px 0;
    }

    .social-links-container {
        display: none;
    }
}

@media screen and (max-width: 800px) {

    .header-links-container {
        display: none;
    }

    .header-links-container.open {
        display: block;
    }

    .header-links-container ul {
        width: 100%;
        flex-direction: column;
    }

    .responsive-menu-collapse {
        display: block;
        width: 100%;
    }
}