/*
Universal styles across all pages
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /*
    --background-color: mediumpurple;
    --dark-text-color: rebeccapurple;
    --text-color: lavender;
    --text-shadow-color: black;
    */

    --background-color: lavender;
    --dark-accent-color: rebeccapurple;
    --light-accent-color: orchid;
    --main-color: mediumpurple;
    --shadow-color: black;
}

body {
    background-color: var(--text-color);
}