* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background-color: mediumpurple;
    --text-color: whitesmoke;
}

body {
    background-color: var(--text-color);
}

/*
Header styles
*/

nav {
    display: flex;
    padding: 10px 10px 10px 10px;
}

#icon-logo-container {
    background-color: var(--background-color);
    border-radius: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    padding: 10px 15px 10px 15px;
    text-align: center;
}

#icon-logo {
    color: var(--text-color);
    font-size: 2rem;
    padding: 10px;
}

#icon-logo-container h6 {
    color: var(--text-color);
    font-family: "Zen Dots", monospace;
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    user-select: none;
}

#header-links-container {
    background-color: var(--background-color);
    height: auto;
    width: 100%;
}

#header-links-container ul {
    display: flex;
    font-family: "Varela Round", Verdana;
    font-size: 1rem;
    height: 100%;
    justify-content: space-around;
    letter-spacing: 1px;
    list-style-type: none;
    width: 100%;
}

#header-links-container li {
    flex: 1;
    text-transform: uppercase;
}

#header-links-container li a {
    align-content: center;
    color: var(--text-color);
    display: block;
    height: 100%;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    transition: 0.2s;
}

#header-links-container li a:hover {
    background-color: var(--text-color);
    color: var(--background-color);
}

#social-links-container {
    align-items: center;
    background-color: var(--background-color);
    border-radius: 0 10px 10px 0;
    color: var(--text-color);
    column-gap: 11px;
    display: grid;
    font-size: 1.3rem;
    grid-template-columns: auto auto;
    padding: 10px 15px 10px 15px;
    text-align: center;
}

#social-links-container a {
    color: var(--text-color);
    text-decoration: none;
}

#social-links-container i {
    transition: 0.2s;
}

#social-links-container i:hover {
    transform: scale(1.2);
}