/*
Footer styles
*/

footer {
    background-color: var(--background-color);
    margin: auto;
    max-width: 2000px;
    min-height: 300px;
    padding: 40px 40px 10px 40px;
}

.footer-container {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    justify-content: center;
    margin: auto;
    max-width: 1000px;
}

.footer-icon-logo-container {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#footer-icon-logo {
    color: var(--text-color);
    font-size: 2.22rem;
    padding: 10px;
    pointer-events: none;
}

.footer-icon-logo-container h6 {
    color: var(--text-color);
    font-family: "Zen Dots", monospace;
    font-size: 1.62rem;
    letter-spacing: 1px;
    padding: 0 0 5px 0;
    text-transform: uppercase;
}

.footer-slogan {
    border-top: 2px solid var(--dark-text-color);
    color: var(--text-color);
    font-family: "Barlow Condensed", Tahoma;
    font-size: 1rem;
    line-height: 0.8;
    padding: 10px 0 0 0;
    text-transform: uppercase;
}

.footer-slogan-plus-symbol {
    font-size: 1.3rem;
}

.footer-icon-logo-container,
.footer-contact-lists-container,
.footer-social-links-container {
    max-width: 210px;
}

.footer-contact-lists-container h5,
.footer-social-links-container h5 {
    color: var(--text-color);
    border-bottom: 2px solid var(--dark-text-color);
    font-family: "Varela Round", Verdana;
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: 1px;
    padding: 0 0 5px 0;
    text-transform: uppercase;
}

.contact-lists {
    display: flex;
    padding: 5px 0 0 0;
}

.contact-icon-list li {
    color: var(--text-color);
    font-size: 1.2rem;
    list-style-type: none; 
    margin: 2px 0 0 0;
    padding: 5px 15px 5px 0;
    text-align: center;
}

.contact-text-list li {
    color: var(--text-color);
    font-family: "Barlow Condensed", Tahoma;
    font-size: 1.2rem;
    list-style-type: none;
    padding: 5px 0 5px 0;
}

#footer-phone-number {
    pointer-events: none;
}

.social-links-icons {
    display: flex;
    margin: 0 -11.7px 0 -11.7px;
}

.social-links-icons a {
    text-decoration: none;
}

.social-links-icons a i {
    color: var(--text-color);
    font-size: 2.5rem;
    padding: 30px 11.7px 0 11.7px;
    transition: 0.2s;
}

.social-links-icons a i:hover {
    transform: scale(1.2);
}

.footer-copyright-container {
    grid-column: span 3;
    padding: 50px 0 0 0;
    text-align: center;
}

.copyright-list li {
    display: inline;
    list-style-type: none;
}

.copyright-list a {
    color: var(--text-color);
    font-family: "Barlow Condensed", Tahoma;
    font-size: 1rem;
    text-decoration: none;
}

.copyright-list a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.copyright-list-separator {
    color: var(--dark-text-color);
    font-family: "Varela Round", Verdana;
    font-size: 1.2rem;
    padding: 0 5px 0 5px;
}

.footer-copyright-container p {
    color: var(--text-color);
    font-family: "Barlow Condensed", Tahoma;
    font-size: 1rem;
    padding: 5px 0 0 0;
}

/*
Footer media queries (width)
*/

@media screen and (max-width: 1000px) {
    footer {
        padding: 40px 15px 10px 15px;
    }

    .footer-container {
        gap: 40px;
        grid-template-columns: 1fr;
        justify-items: center;
    }
}